
<div class="annie ten columns offset-by-three">
<h1>Ann Kim</h1>
	<a href="/contact"><img class="scale-with-grid" src="https://scontent-b-lga.xx.fbcdn.net/hphotos-ash3/943298_10100395894281590_288508893_n.jpg" alt="AK"></a>
<h2>Fun Facts</h2>
<ul class="offset-by-one">
<% @skills.each do |skill| %>
	<li class="one columns"><%= skill %></li>
<% end %>
</ul>
<ul class="offset-by-one">
<% @jobs.each do |skill| %>
	<li class="one columns"><%= skill %></li>
<% end %>
</ul>
<ul class="offset-by-one">
<% @education.each do |skill| %>
	<li class="one columns"><%= skill %></li>
<% end %>
</ul>
</div>